In [3]:
import pymysql
import json

In [12]:
with open('../mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

config

{'host': '140.238.202.82',
 'user': 'mcuser',
 'password': 'Gratis2021!',
 'database': 'mcdb',
 'port': 3306}

In [17]:
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

In [18]:
cur = conn.cursor()
sql = "SELECT id, date_format(dt, '%Y-%m-%d %H:%i') AS my_date FROM date_table;"
cur.execute(sql)

8

In [19]:
for row in cur.fetchall():
    print(row)

(1, '2017-08-28 17:22')
(2, '2017-02-15 10:22')
(3, '2017-12-09 22:13')
(4, '2018-07-06 20:15')
(5, '2021-08-24 15:01')
(6, '2021-08-25 00:04')
(7, '2021-08-25 12:35')
(8, '2022-08-15 05:24')

In [22]:
sql = '''
    SELECT * FROM city WHERE district='경기'
    ORDER BY population DESC
    LIMIT 10;
'''

cur.execute(sql)

10

In [23]:
for row in cur.fetchall():
    print(row)

(2338, 'Songnam', 'KOR', '경기', 869094)
(2339, 'Puchon', 'KOR', '경기', 779412)
(2340, 'Suwon', 'KOR', '경기', 755550)
(2341, 'Anyang', 'KOR', '경기', 591106)
(2344, 'Koyang', 'KOR', '경기', 518282)
(2345, 'Ansan', 'KOR', '경기', 510314)
(2349, 'Kwangmyong', 'KOR', '경기', 350914)
(2353, 'Pyongtaek', 'KOR', '경기', 312927)
(2355, 'Uijongbu', 'KOR', '경기', 276111)
(2362, 'Yong-in', 'KOR', '경기', 242643)

In [24]:
cur.close()
conn.close()