#### MySQL 테이블 생성 및 데이터 입력 방법

In [3]:
import json
with open('../mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)
print(config)

{'host': '140.238.202.82', 'user': 'mcuser', 'password': 'Gratis2021!', 'database': 'mcdb', 'port': 3306}

In [5]:
import pymysql
conn = pymysql.connect(host=config['host'], user=config['user'], password=config['password'],\
database=config['database'], port=config['port'])

print(conn)

<pymysql.connections.Connection object at 0x00000158A01396A0>

##### 테이블 생성

In [6]:
cur = conn.cursor()
sql_create_table = '''
    CREATE TABLE IF NOT EXISTS users_new(
        uid VARCHAR(20) NOT NULL PRIMARY KEY,
        pwd CHAR(44) NOT NULL,
        uname VARCHAR(20) NOT NULL,
        email VARCHAR(40),
        reg_date DATETIME DEFAULT CURRENT_TIMESTAMP,
        is_deleted INT DEFAULT 0
    );
    '''

In [7]:
cur.execute(sql_create_table)

0

##### 데이터 추가

In [9]:
cur = conn.cursor()  # create a new cursor to execute queries with
sql_insert = "INSERT INTO users_new(uid, pwd, uname) VALUES\
('admin', 1234, '관리자');"

cur.execute(sql_insert)

1

In [11]:
sql_select = 'SELECT * FROM users_new;'
cur.execute(sql_select)
row = cur.fetchone()
row

('admin', '1234', '관리자', None, datetime.datetime(2022, 8, 31, 20, 27, 9), 0)

#### 데이터를 데이터베이스에 저장하려면 반드시 conn.commit()를 해줘야 한다.

In [12]:
conn.commit()