#### DB 초기화 프로그램

In [3]:
import pymysql
import json

with open('../mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

config

{'host': '140.238.202.82',
 'user': 'mcuser',
 'password': 'Gratis2021!',
 'database': 'mcdb',
 'port': 3306}

In [4]:
conn = pymysql.connect(host=config['host'], user=config['user'], password=config['password'],
                       database=config['database'], port=config['port'])

#### new_products 테이블

In [8]:
# products 테이블 생성 sql
sql = """
    CREATE TABLE if NOT exists new_products(
        pid INT PRIMARY KEY AUTO_INCREMENT,
        pname VARCHAR(40) NOT NULL,
        pprice INT UNSIGNED NOT NULL,
        pcategory VARCHAR(20) NOT NULL,
        pcost INT UNSIGNED NOT NULL
    ) AUTO_INCREMENT=11;
"""

In [9]:
cur = conn.cursor()
cur.execute(sql)

0

In [14]:
camping_goods = ['텐트','타프','천막','침낭','매트','랜턴','취사용품','아이스박스','보조배터리','워터저그']
car_goods = ['블랙박스','내비게이션','하이패스','후방카메라','자동차TV','카오디오','핸즈프리','헤드유닛','방진매트','윤활방청제']
health_goods = ['러닝머신','웨이트기구','복근운동기구','벨트','거꾸리','훌라후프','트램펄린','스텝퍼','로잉머신','헬스사이클']
category_names = ['캠핑용품','자동차용품','헬스용품']

In [16]:
[len(x) for x in [camping_goods, car_goods, health_goods, category_names]]

[10, 10, 10, 3]

In [17]:
import random
random.seed(2021)

for item in camping_goods:
    price = random.randint(100, 999) * 100
    rate = random.randint(85, 98)
    cost = int(round(price * rate / 1000) * 10)
    print(item, price, "캠핑", cost)

텐트 95600 캠핑 87000
타프 97800 캠핑 92910
천막 65700 캠핑 58470
침낭 35300 캠핑 33540
매트 13500 캠핑 12420
랜턴 58500 캠핑 54990
취사용품 16500 캠핑 14850
아이스박스 37600 캠핑 33460
보조배터리 58600 캠핑 50400
워터저그 26500 캠핑 23060

In [18]:
sql = "insert into new_products(pname, pprice, pcategory, pcost) values(%s, %s, %s, %s);"
for i, item_list in enumerate([camping_goods, car_goods, health_goods]):
    for item in item_list:
        price = random.randint(100, 999) * 100
        rate = random.randint(85, 98)
        cost = int(round(price * rate / 1000) * 10)
        cur.execute(sql, (item, price, category_names[i], cost))
conn.commit()

#### new_sales 테이블

In [1]:
# spid를  외래키(foreign key)로 설정
sql = """
    CREATE TABLE if NOT exists new_sales(
        sid INT PRIMARY KEY AUTO_INCREMENT,
        sdate DATE NOT NULL,
        scompany VARCHAR(20) NOT NULL,
        spid INT NOT NULL,
        sunit INT NOT NULL,
        FOREIGN KEY(spid) REFERENCES new_products(pid)
    ) AUTO_INCREMENT=101;
"""

In [5]:
cur = conn.cursor()
cur.execute(sql)

0

In [10]:
calendar = {1:31, 2:29, 3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:31}
company_list = ['멀티캠퍼스', '한경아카데미', '표준협회', '생산성본부', '테크브루']

for i in range(10):
    date = f'2022-1-{random.randint(1,31)}'
    company = company_list[random.randint(0,4)]
    pid = random.randint(11, 40)
    unit = random.randint(1, 20)
    print(date, company, pid, unit)

2022-1-18 테크브루 27 16
2022-1-4 생산성본부 12 14
2022-1-17 한경아카데미 16 19
2022-1-2 한경아카데미 38 15
2022-1-3 테크브루 18 13
2022-1-16 표준협회 24 12
2022-1-31 테크브루 27 17
2022-1-6 테크브루 29 5
2022-1-10 표준협회 38 18
2022-1-14 표준협회 22 10

In [11]:
sql = "INSERT INTO new_sales VALUES(default, %s, %s, %s, %s);"

for month, day in calendar.items():
    for i in range(10):
        date = f'2022-{month}-{random.randint(1, day)}'
        company = company_list[random.randint(0,4)]
        pid = random.randint(11, 40)
        unit = random.randint(1,20)
        cur.execute(sql, (date, company, pid, unit))
conn.commit()