#### DB 초기화 프로그램

In [4]:
import pymysql
import json

with open('../mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

config

{'host': '140.238.202.82',
 'user': 'mcuser',
 'password': 'Gratis2021!',
 'database': 'mcdb',
 'port': 3306}

In [5]:
conn = pymysql.connect(host=config['host'], user=config['user'], password=config['password'],
                       database=config['database'], port=config['port'])

#### products 테이블

In [8]:
# products 테이블 생성 sql
sql = """
    CREATE TABLE if NOT exists new_products(
        pid INT PRIMARY KEY AUTO_INCREMENT,
        pname VARCHAR(40) NOT NULL,
        pprice INT UNSIGNED NOT NULL,
        pcategory VARCHAR(20) NOT NULL,
        pcost INT UNSIGNED NOT NULL
    ) AUTO_INCREMENT=11;
"""

In [9]:
cur = conn.cursor()
cur.execute(sql)

0