### Pandas - Series

In [1]:
import numpy as np
import pandas as pd

##### 시리즈 생성

In [2]:
s = pd.Series([9904312,3448737,2890451,2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [3]:
s = pd.Series([9904312,3448737,2890451,2466052], index=['서울','부산','인천','대구'], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [4]:
# 시리즈의 값 - 넘파이 배열
s.values

array([9904312, 3448737, 2890451, 2466052])

In [5]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [6]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32