##### DataFrame Class

In [1]:
import numpy as np
import pandas as pd

##### 생성

In [11]:
data = {
    "2015" : [9904312, 3448737, 2890451, 2466052],
    "2010" : [9631482, 3393191, 2632035, 2431774],
    "2005" : [9762546, 3512547, 2517680, 2456016],
    "2000" : [9853972, 3655347, 2466338, 2473990],
    "지역" : ["수도권", "경상권", "수도권", "경상권"],
}

columns = ["지역", "2015", "2010", "2005", "2000"]
index = ["서울", "부산", "인천", "대구"]

df = pd.DataFrame(data=data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000
서울  수도권  9904312  9631482  9762546  9853972
부산  경상권  3448737  3393191  3512547  3655347
인천  수도권  2890451  2632035  2517680  2466338
대구  경상권  2466052  2431774  2456016  2473990

In [12]:
df["2010-2015 증가율(%)"] = (df["2015"] - df["2010"]).div(df["2010"]).mul(100).round(2)
df

     지역     2015     2010     2005     2000  2010-2015 증가율(%)
서울  수도권  9904312  9631482  9762546  9853972              2.83
부산  경상권  3448737  3393191  3512547  3655347              1.64
인천  수도권  2890451  2632035  2517680  2466338              9.82
대구  경상권  2466052  2431774  2456016  2473990              1.41

In [13]:
df.지역.values

array(['수도권', '경상권', '수도권', '경상권'], dtype=object)

In [14]:
df['2015'].values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [15]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율(%)'], dtype='object')

In [16]:
df

     지역     2015     2010     2005     2000  2010-2015 증가율(%)
서울  수도권  9904312  9631482  9762546  9853972              2.83
부산  경상권  3448737  3393191  3512547  3655347              1.64
인천  수도권  2890451  2632035  2517680  2466338              9.82
대구  경상권  2466052  2431774  2456016  2473990              1.41

In [17]:
df.index.name = '도시'
df.columns.name = '특성'
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율(%)
도시
서울  수도권  9904312  9631482  9762546  9853972              2.83
부산  경상권  3448737  3393191  3512547  3655347              1.64
인천  수도권  2890451  2632035  2517680  2466338              9.82
대구  경상권  2466052  2431774  2456016  2473990              1.41

In [18]:
df.T

도시                     서울       부산       인천       대구
특성
지역                    수도권      경상권      수도권      경상권
2015              9904312  3448737  2890451  2466052
2010              9631482  3393191  2632035  2431774
2005              9762546  3512547  2517680  2456016
2000              9853972  3655347  2466338  2473990
2010-2015 증가율(%)     2.83     1.64     9.82     1.41