#### 판다스 데이터 입출력

In [1]:
import pandas as pd

CSV 파일 입력

In [6]:
sample1 = {"c1":[1,2,3], "c2":[1.11,2.22,3.33], "c3":['one','two','three']}
sample1 = pd.DataFrame(data=sample1)
sample1.to_csv('sample1.csv', index=False)

In [7]:
pd.read_csv('sample1.csv')

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [10]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample2.csv

In [11]:
pd.read_csv('sample2.csv')

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [12]:
pd.read_csv('sample2.csv', header=None)

   0     1       2
0  1  1.11     one
1  2  2.22     two
2  3  3.33   three

In [13]:
pd.read_csv('sample2.csv', names=['c1','c2','c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [16]:
pd.read_csv('sample1.csv', index_col='c1')

      c2     c3
c1
1   1.11    one
2   2.22    two
3   3.33  three

In [17]:
%%writefile sample3.txt
c1         c2         c3         c4      
0.179181  -1.538472   1.347553   0.43381
1.024209   0.087307  -1.281997   0.49265
0.417899  -2.002308   0.255245  -1.10515

Writing sample3.txt

In [18]:
pd.read_csv('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515