##### 데이터프레임 고급 인덱싱

In [1]:
import numpy as np
import pandas as pd

##### loc 인덱서

In [2]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4), index=['x','y','z'], columns=['A','B','C','D'])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

##### 1개만 있으면 행 인덱싱

In [3]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int32

In [5]:
df['x':'y']    # df['x':'y']와 동일

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [7]:
df.loc[['z','x']]

    A   B   C   D
z  18  19  20  21
x  10  11  12  13

In [8]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [9]:
# Boolean indexing
df.loc[df.A > 15]

    A   B   C   D
z  18  19  20  21

In [10]:
df.loc[df['A'] > 15]

    A   B   C   D
z  18  19  20  21

##### 인덱서 2개를 받는 경우

In [11]:
df.loc['x', 'A']

10

In [13]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int32

In [14]:
df.loc[df.A > 10, 'A']

y    14
z    18
Name: A, dtype: int32

##### iloc 인덱서

In [15]:
df.iloc[0, 0]

10

In [16]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [17]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: z, dtype: int32

In [18]:
### 연습문제 4.3.1
df = pd.DataFrame(data=np.arange(25).reshape(5,-1), index=['a','b','c','d','e'], columns=['v','w','x','y','z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [25]:
# 12값 도출
df['x']['c'], df['x'].c, df.x.c, df.x[2]

(12, 12, 12, 12)

In [27]:
 # loc
 df.loc['c','x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [33]:
#iloc
df.iloc[2,2], df.iloc[2].x, df.iloc[2]['x'], df.iloc[2][2]

(12, 12, 12, 12)

In [35]:
df.index, df.columns

(Index(['a', 'b', 'c', 'd', 'e'], dtype='object'),
 Index(['v', 'w', 'x', 'y', 'z'], dtype='object'))

In [36]:
for i in df.index:
    print(df.x[i])

2
7
12
17
22